.header {
	background: #44001A;
	color: #92817A;
	line-height:30px;
	text-align: right;
}

a.header {
	vertical-align: middle;
	text-decoration: none;
}

a#settings {
	background: url("./repairing-service.png") no-repeat;

	width: 32px;
	height: 32px;
	text-decoration: none;
	position: absolute;
	left: 6px;
	top: 7px;
}
body {
	background: #000500;
	color: #92817A;
}

a {
	color: #92817A;
	text-decoration: underline;
	display: inline-block;
}

a:visited {
	color: #996888;
}

a:hover {
	color: #5E4955;
}

a:active {
	color: #92817A;
}